@import '../../../../colors.scss';

.divtitleAllergies {
    width: 342px;
    height: 66px;
    top: 124px;
    left: 25px;
    gap: 0px;
    opacity: 0px;
}

.titleAllergies {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

.containerAllergies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30%;
}

.containerAllergies2 {
    display: flex;
    margin-left: 5%;
    align-items: center;
    margin-bottom: 5%;
    padding-left: 5%;
}

.divsubtitleAllergies {
    width: 328px;
    height: 51px;
    top: 242px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
}

.divsubtitleAllergies2 {
    width: 194px;
    height: 17px;
    top: 311px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
}

.subtitleAllergies {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    margin-bottom: 3%;
}

.subtitleAllergies2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
}

.divBadgesAllergies {
    width: Fixed (341px)px;
    height: Hug (272px)px;
    top: 372px;
    left: 19px;
    gap: 8px;
    opacity: 0px;
}

.badgeGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(76px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;

    .uniqueBadge {
        padding: 10px;
        text-align: center;
        font-family: Montserrat;
        font-size: 10px;
        border-radius: 10px;
    }
}

.Badgecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBadgesAllergies {
    margin-top: 20px;
    display: flex;
    width: 83.5%;
}

.BadgecontainerButton {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.BadgecontainerButton button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: $buttons-register;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

.checkboxAllergies {
    margin-left: 5%;
}

.custom-input input[type="text"] {
    font-size: 13px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 50%;
    height: 25px;
}

.custom-input input[type="text"]:focus {
    outline: none;
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}