$gray300: rgba(203, 213, 224, 1);
$gray400-medium: rgba(160, 174, 192, 1);
$buttons-register: rgba(49, 130, 206, 1);
$degradador-corporativo: rgba(16, 106, 242, 1);
$degradado-corporativo2: rgba(102, 16, 242, 1);
