@import '../complements';

.div-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-family: $font-primary;
}

.div-programa {
    margin-bottom: 20px;
}

.div-dias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
}

.div-dias p {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.div-dias p.active {
    color: #4fc3f7;
}

.div-dias p.active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #4fc3f7;
}


.div-slider-chip {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;
}

.slider {
    display: flex;
    align-items: center;
    /* Alinea el contenido del slider al centro verticalmente */
    margin-right: 20px;
    /* Espacio entre el slider y los chips */
    margin-left: 5px;

}

.chip {
    display: flex;
    flex-wrap: wrap;
    /* Para que los chips se ajusten y envuelvan si es necesario */
    align-items: center;
    /* Alinea los chips al centro verticalmente */
    margin-left: 45px;
}

.uniqueChipProfile {
    margin: 10px;
    /* Espaciado entre cada chip */
}

.div-horario {
    text-align: left;
    /* Alinea el texto a la izquierda */
    margin-top: 10px;
    /* Espacio superior */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 400px;
    /* Máximo ancho del horario */
    margin-left: auto;
    /* Empuja el horario hacia la izquierda */
    margin-right: auto;
    /* Empuja el horario hacia la derecha */
    padding: 0 20px;
    /* Espaciado interno */
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    margin-left: -10px;
    font-weight: bold;
}

.div-card {
    margin-top: 5px;
    /* Borde de la tarjeta */
    border-radius: 5px;
    /* Esquinas redondeadas */
    padding: 10px;
    /* Espaciado interno reducido */
    margin-bottom: 5px;
    /* Espacio inferior entre tarjetas */
    width: 400px;
    /* Ancho deseado para la tarjeta */
    max-width: 95%;
    /* Ancho máximo de la tarjeta */
    box-sizing: border-box;
    /* Incluir el padding en el ancho total */
}

.div-card {
    width: 95%;
    max-width: 600px;
    /* Ancho máximo deseado para la tarjeta */
    margin: 5px auto;
    /* Margen exterior para centrar la tarjeta */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
}

.div-horario-card {
    align-self: flex-start;
    color: gray
}

.div-ponencia {
    margin-left: 5px;
    color: gray;
}

.div-nombre {
    margin-top: -30px;
    align-self: flex-end;
    /* Alinea el nombre a la derecha */
    font-weight: bold;
}

.div-cargo {
    align-self: flex-end;
    /* Alinea el nombre a la derecha */
}

.div-card-descripcion {
    margin-top: 10px;

}

.div-titulo {
    text-align: center;
    /* Centra el título */
    margin-top: 50px;
    /* Espacio superior entre el chip y el título */
    ;
}

.div-icon-text {
    margin-top: 40px;
    display: flex;
    align-items: center;
    /* Alinea verticalmente los íconos y el texto */
}

.div-down-text {
    margin-left: 5px;
    /* Espacio a la izquierda del texto */
    font-size: 12px;
}

.div-agenda.blurred {
    filter: blur(5px);
    pointer-events: none;
    /* Evita que se pueda interactuar con el contenido de fondo */
}

// Estilos para la tarjeta One-to-One

.div-card-one2one {
    width: 90%;
    max-width: 600px;
    /* Ancho máximo deseado para la tarjeta */
    margin: 5px auto;
    /* Margen exterior para centrar la tarjeta */
    font-family: $font-primary;
    position: relative;
    /* Añadir posición relativa para alinear el avatar */
}

.card-one2one {
    background: var(--degradado-corporativo, radial-gradient(865.8% 89.15% at 6.03% 9.18%, #106AF2 0%, #6610F2 100%));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinear los elementos a la izquierda */
    position: relative;
    /* Añadir posición relativa para alinear el avatar */
    height: 90px;
    /* Ajusta automáticamente la altura */
}

.div-content-one2one {
    display: flex;
    justify-content: space-between;
    /* Espacio entre columnas */
    width: 100%;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-horario-one2one {
    color: white;
    margin-top: 5px;
}

.div-chip-one2one {
    margin-top: 5px;
    /* Espacio sobre el chip */
    margin-bottom: 10px;
    /* Espacio bajo el chip */
}

.div-nombre-one2one {
    font-size: 14px;
    font-weight: bold;
    color: white;
    /* Color del texto del nombre */
    text-align: end;
    margin-left: 200px
    /* Mueve el texto hacia la derecha */
}

.div-cargo-one2one {
    font-size: 10px;
    color: white;
    text-align: end;
    margin-left: auto;
    /* Mueve el texto hacia la derecha */
}

.avatar-picture {
    border-radius: 50%;
    /* Para hacerlo redondo */
    width: 60px;
    /* Ajuste el tamaño según sea necesario */
    height: 60px;
    /* Ajuste el tamaño según sea necesario */
}



@media (max-width: 768px) {
    .div-card-one2one {
        width: 90%;
        /* Ajusta el ancho para dispositivos móviles */
    }

    .card-one2one {
        padding: 10px;
        /* Reduce el padding para dispositivos móviles */
    }

    .card-one2one img.avatar-picture {
        width: 60px;
        /* Ajusta el tamaño de la imagen para móviles */

    }

    .div-nombre-one2one {
        margin-bottom: 10px;
        /* Añade espacio debajo del nombre */
    }

    @media (max-width: 768px) {

        .div-nombre-one2one,
        .div-cargo-one2one {
            position: relative;
            /* Cambia a posición relativa en dispositivos más pequeños */


            margin-left: 10px;
            /* Añade un margen izquierdo para separar del borde */
            text-align: center;
            /* Centra el texto en dispositivos móviles */
        }
    }
}