@import '../../../colors.scss';

.mainContent-profile{
    padding-left: 10px;
    padding-right: 10px;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid $buttons-register;
    background-color: white;
    margin: 5%;
    margin-bottom: 10px;
    margin-left: 10%;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
        margin-left: 5%;
    }

    @media (max-width: 480px) {
        width: 60px;
        height: 60px;
    }
}

.profile-picture {
    width: 100%;
    height: auto;
}

.topProfile {
    margin-top: 5%;
    font-size: 20px;
    width: 100%;

    @media (max-width: 1280px) {
        margin-top: 12%;
    }

    @media (max-width: 480px) {
        margin-top: 20%;
    }
}

.pProfile {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    gap: 25%;

    @media (max-width: 768px) {

        gap: 10px;
    }

    @media (max-width: 480px) {

        gap: 5px;
    }
}

.iconProfile {


    @media (max-width: 768px) {

        margin-bottom: 10px;
    }

    @media (max-width: 480px) {

        margin-bottom: 5px;
    }
}

.titleNameProfile {
    font-size: 30px;
    margin-left: 6%;

    @media (max-width: 768px) {
        margin-left: 3%;
    }

    @media (max-width: 480px) {
        margin-left: 2%;
    }
}

.subtitleNameProfile {
    font-size: 16px;
    margin-left: 6%;

    @media (max-width: 768px) {
        margin-left: 3%;
    }

    @media (max-width: 480px) {
        margin-left: 2%;
    }
}

.descriptionNameProfile {
    font-size: 14px;
    margin-left: 6%;

    @media (max-width: 768px) {
        margin-left: 3%;
    }

    @media (max-width: 480px) {
        margin-left: 2%;
    }
}

.interestsProfile {
    margin: 2%;
    margin-left: 6%;

    @media (max-width: 768px) {
        margin: 3%;
    }

    @media (max-width: 480px) {
        margin: 2%;
    }
}

.interestsName {
    

    @media (max-width: 768px) {
        margin-bottom: 3%;
    }

    @media (max-width: 480px) {
        margin-bottom: 2%;
    }
}

.badgeGridProfile {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
}

.uniqueBadgeProfile {
    text-align: center;
    padding: 10px;
    font-family: Montserrat, sans-serif;
    border-radius: 20px;
    background-color: #BEE3F8;

    @media (max-width: 768px) {
        padding: 5px;
    }

    @media (max-width: 480px) {
        padding: 3px;
    }
}

.profileEdit {
    font-size: 12px;
    color: $buttons-register;
}

.linkedinNameProfile {
    color: $buttons-register;
}

.moreInformationProfile {
    margin-left: 6%;

    @media (max-width: 768px) {
        margin-left: 3%;
    }

    @media (max-width: 480px) {
        margin-left: 2%;
    }
    p {
        margin-top: 5px;
    }
}

.ShowQR {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 5%;
    background-color: $buttons-register;
    color: white;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.ScanQR {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    background-color: white;
    border: 2px solid $buttons-register;
    color: $buttons-register;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.containerButtonProfile {
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 5%;

    @media (max-width: 768px) {
        padding: 5px;
        margin-top: 3%;
    }

    @media (max-width: 480px) {
        padding: 3px;
        margin-top: 2%;
    }
}

.uniqueChipProfile {
    background-color: #BEE3F8;
    margin: 5px;
    border-radius: 20px;

    @media (max-width: 768px) {
        margin: 3px;
    }

    @media (max-width: 480px) {
        margin: 2px;
    }
}

.chipGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
}
