@import '../complements';
@import '../../../colors.scss';

.register-tercer-paso-container {
    font-family: $font-primary;


    .stepper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        max-width: 400px;
        margin: auto;
        padding: 10px;
        margin-top: 8%;

        .btn-back {
            display: flex;
            margin-right: 40px;
            margin-left: -50px;
        }

        .step {
            width: 40px;
            height: 4px;
            background-color: #ddd;
            margin: 0 10px;
            border-radius: 10px;

            &.highlighted {
                height: 8px;
                width: 60px;
                background-color: $buttons-register;
            }
        }
    }
}

.containerRegister3 {
    margin-top: 40px; 
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    
}
.container-content3 {
    margin-top: 20px; 
    font-family: Montserrat;
    
    .div-subtitle {
        margin-bottom: 1rem;
        

        .subtitle {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
            font-weight: bold;
            font-family: Montserrat;
            
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }

    .div-entry-type {
        margin-bottom: 1rem;

        .entry-type {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .div-prices {
        .price {
            font-size: 1rem;
            margin-bottom: 0.5rem;
            font-family: Montserrat;
        }
    }
}

.container-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: Montserrat;

    .continue-button {
        background-color:rgba(49, 130, 206, 1);
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darkblue;
        }
    }
}

// @media (max-width: 768px) {
//     // .register-tercer-paso-container {
//     //     .stepper {
//     //         justify-content: center;

//     //         .btn-back {
//     //             margin-right: 0.5rem;
//     //         }

//     //         .step {
//     //             width: 8px;
//     //             height: 8px;
//     //             margin: 0 3px;
//     //         }
//     //     }
//     // }

//     .containerRegister3 {
//         .div-title {
//             .title {
//                 font-size: 3rem;
//             }
//         }
//     }

//     .container-content3 {
//         .div-subtitle {
//             .subtitle {
//                 font-size: 1.1rem;
//             }

//             ul {
//                 padding-left: 15px;
//             }
//         }

//         .div-entry-type {
//             .entry-type {
//                 font-size: 0.9rem;
//             }
//         }

//         .div-prices {
//             .price {
//                 font-size: 0.9rem;
//             }
//         }
//     }

//     .container-button {
//         .continue-button {
//             padding: 0.5rem 0.75rem;
//             font-size: 0.9rem;
//         }
//     }
// }

// @media (max-width: 480px) {
//     // .register-tercer-paso-container {
//     //     .stepper {
//     //         flex-direction: column;
//     //         align-items: flex-start;

//     //         .btn-back {
//     //             margin-bottom: 0.5rem;
//     //         }

//     //         .step {
//     //             margin: 3px 0;
//     //         }
//     //     }
//     // }

//     .containerRegister3 {
//         .div-title {
//             .title {
//                 font-size: 2rem;
//             }
//         }
//     }

//     .container-content3 {
//         .div-subtitle {
//             .subtitle {
//                 font-size: 1rem;
//             }

//             ul {
//                 padding-left: 10px;
//             }
//         }

//         .div-entry-type {
//             .entry-type {
//                 font-size: 0.8rem;
//             }
//         }

//         .div-prices {
//             .price {
//                 font-size: 0.8rem;
//             }
//         }
//     }

//     .container-button {
//         .continue-button {
//             padding: 0.5rem;
//             font-size: 0.8rem;
//         }
//     }
// }
