.asistantProfileName{
    margin-right: 30%;
}
.profile-picture-asistant {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-left: 5%;
}
.divProfileAsistant{
    display: flex;
}
.InformationProfileAsistant {
    padding: 6%;
    font-size: 16px;
}
.descriptionNameProfileAsistant{
    margin-left: 5%;
    margin-right: 5%;
}