@import '../../../colors.scss';

.topNotification {
    margin-top: 3%;
    font-size: 20px;
    width: 100%;

    @media (max-width: 1280px) {
        margin-top: 12%;
    }

    @media (max-width: 480px) {
        margin-top: 20%;
    }
}

.pNotification {
    text-align: center;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    gap: 25%;

    @media (max-width: 768px) {

        gap: 10px;
    }

    @media (max-width: 480px) {

        gap: 5px;
    }
}

.iconNotification {


    @media (max-width: 768px) {

        margin-bottom: 10px;
    }

    @media (max-width: 480px) {

        margin-bottom: 5px;
    }
}

.asistantNotification {
    color: #000; 
    font-size: 16px; 

}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.cardPending {
    background-color: #EBF8FF;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.cardTitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    gap: 5%;
}

.cardContent {
    font-size: 14px;
    color: #666;
}

.imgProfileNotification {
    width: 15%;
    border-radius: 50%;
}

.desplegarNotifi {
    margin: auto;
}

.dropdown {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.dropdownButton {
    margin: 5px 0;
    padding: 10px;
    background-color: $buttons-register;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    color: white;
    border-radius: 10px;

    &:hover {
        background-color: #e0e0e0;
    }
}