@import '../complements';

.div-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-family: $font-primary;
}

.div-programa {
    margin-bottom: 20px;

}

.div-dias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
}

.div-dias p {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    text-align: center;

}

.div-dias p.active {
    color: #4fc3f7;

}

.div-dias p.active::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: calc(100% - 20px);
    height: 2px;
    background-color: #4fc3f7;

}


.div-slider-chip {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1px;

}

.slider {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 5px;

}

.chip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 45px;
}

.uniqueChipProfile {
    margin: 10px;

}

.div-horario {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: -10px;
    font-weight: bold;
}

.div-card {
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    width: 400px;
    max-width: 95%;
    box-sizing: border-box;

}

.div-card {
    width: 95%;
    max-width: 600px;
    margin: 5px auto;

}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.div-horario-card {
    align-self: flex-start;
    color:gray
}
.div-ponencia{
    margin-left: 5px;
    color: gray;
}

.div-nombre {
    margin-top: -30px;
    align-self: flex-end;
    font-weight: bold;
}

.div-cargo {
    align-self: flex-end;

}

.div-card-descripcion{
    margin-top: 10px;

}
.div-titulo {
    text-align: center;
    margin-top: 50px;

    
}

.div-icon-text {
    margin-top: 40px;
    display: flex;
    align-items: center;

}

.div-down-text {
    margin-left: 5px;
    font-size: 12px;
}

.div-agenda.blurred {
    filter: blur(5px);
    pointer-events: none;

}



.modal-content {
    margin-top: 20vh; 
    z-index: 1500; 
    background-color: white; 
    border-radius: 8px; 
    max-width: 400px; 
    max-height: 900px; 
    width: 80%; 
    height: auto; 
    display: flex;
    align-items: center;
    margin: auto; 
    font-family: $font-primary;


    .div-nodal-titulo {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 16px; 
        border-bottom: 1px solid black; 
    }


    .close-button {
        font-size: 16px; 
        width: 32px; 
        height: 32px; 
        padding: 0; 
        position: absolute;
        top: 12px; 
        right: 12px; 
        color: gray; 
        cursor: pointer;

        &:hover {
            color: black; 
        }
    }


    .div-nodal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px; 
    }
    .div-btn {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        align-items: stretch; 
        padding: 10px; 
    }
    
    .btn-nodal-one,
    .btn-nodal-interesa {
        padding: 10px 15px;
        display: block;
        text-align: center;
        border-radius: 4px;
        transition: background-color 0.2s;
        box-sizing: border-box;
        width: 100%; 
        margin: 0; 
    }
    
    .btn-nodal-one {
        margin-top: 100px;
        background-color: white;
        color: #4299e1;
        border: 1px solid #4299e1;

    }
    
    .btn-nodal-interesa {
        background-color: #4299E1;
        color: white;
        font-size: 1rem;
        padding: 10px 15px;
        border-radius: 4px;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        transition: background-color 0.2s;
        width: 207%;
        margin-left: -52px;
    }
    
    .btn-nodal-interesa ._CiHeart {
        margin-left: 5px; 
        display: inline-block; 
        vertical-align: middle; 
    }
    
    .btn-nodal-interesa:hover {
        background-color: #3182CE;
    }
    

    .btn-nodal-one:hover {
        background-color: #eee;
    }

    .btn-nodal-interesa:hover {
        background-color: #3182CE;
    }


    .div-horarios {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    
    .div-horarios-disponibles {
        margin-bottom: 10px; 

    }
    
    .horario-item {
        margin-bottom: 5px;
    }
    .chakra-checkbox {
        margin: 0; 
        padding: 5px; 
    }
}