@import '../complements';

.div-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    /* Centra el texto dentro del contenedor */
    font-family: $font-primary;
}

.div-programa {
    margin-bottom: 20px;
    /* Espacio entre el h3 y los párrafos */
}

.div-dias {
    display: flex;
    flex-wrap: wrap;
    /* Envuelve los días si no hay suficiente espacio */
    justify-content: center;
    /* Centra los días horizontalmente */
    width: 100%;
    /* Ocupa todo el ancho del contenedor padre */
    max-width: 400px;
    /* Máximo ancho de los días */
    cursor: pointer;
}

.div-dias p {
    margin: 5px;
    /* Espaciado entre los días */
    padding: 5px 10px;
    /* Espaciado interno de los días */
    cursor: pointer;
    /* Cambia el cursor a pointer al pasar sobre los días */
    position: relative;
    /* Permite posicionar de forma relativa */
    text-align: center;
    /* Centra el texto horizontalmente */
}

.div-dias p.active {
    color: #4fc3f7;
    /* Color celeste al activar */
}

.div-dias p.active::after {
    content: '';
    /* Agrega un elemento después del contenido */
    position: absolute;
    /* Posiciona de forma absoluta con respecto al elemento padre */
    left: 50%;
    /* Centra la línea horizontalmente */
    transform: translateX(-50%);
    /* Centra la línea horizontalmente */
    bottom: -2px;
    /* Distancia de la línea desde la parte inferior */
    width: calc(100% - 20px);
    /* Ancho calculado menos el padding */
    height: 2px;
    /* Grosor de la línea */
    background-color: #4fc3f7;
    /* Color de la línea celeste */
}


.div-slider-chip {
    display: flex;
    align-items: center;
    /* Alinea el contenido verticalmente al centro */
    background-color: #f5f5f5;
    /* Fondo blanco roto */
    border-radius: 5px;
    /* Esquinas redondeadas */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    margin-top: 1px;
    /* Espacio superior */
}

.slider {
    display: flex;
    align-items: center;
    /* Alinea el contenido del slider al centro verticalmente */
    margin-right: 20px;
    /* Espacio entre el slider y los chips */
    margin-left: 5px;

}

.chip {
    display: flex;
    flex-wrap: wrap;
    /* Para que los chips se ajusten y envuelvan si es necesario */
    align-items: center;
    /* Alinea los chips al centro verticalmente */
    margin-left: 75px;
}

.uniqueChipProfile {
    margin: 10px;
    /* Espaciado entre cada chip */
}

.div-horario {
    text-align: left;
    /* Alinea el texto a la izquierda */
    margin-top: 10px;
    /* Espacio superior */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 400px;
    /* Máximo ancho del horario */
    margin-left: auto;
    /* Empuja el horario hacia la izquierda */
    margin-right: auto;
    /* Empuja el horario hacia la derecha */
    padding: 0 20px;
    /* Espaciado interno */
    box-sizing: border-box;
    /* Incluye el padding en el ancho total */
    margin-left: -10px;
    font-weight: bold;
}

.div-card {
    margin-top: 5px;
    border: 1px solid #ccc;
    /* Borde de la tarjeta */
    border-radius: 5px;
    /* Esquinas redondeadas */
    padding: 10px;
    /* Espaciado interno reducido */
    margin-bottom: 20px;
    /* Espacio inferior entre tarjetas */
    width: 400px;
    /* Ancho deseado para la tarjeta */
    max-width: 95%;
    /* Ancho máximo de la tarjeta */
    box-sizing: border-box;
    /* Incluir el padding en el ancho total */
}

.div-card {
    width: 95%;
    max-width: 600px;
    /* Ancho máximo deseado para la tarjeta */
    margin: 20px auto;
    /* Margen exterior para centrar la tarjeta */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
}

.div-horario-card {
    align-self: flex-start;
    color:gray
}
.div-ponencia{
    margin-left: 5px;
    color: gray;
}

.div-nombre {
    margin-top: -30px;
    align-self: flex-end;
    /* Alinea el nombre a la derecha */
    font-weight: bold;
}

.div-cargo {
    align-self: flex-end;
    /* Alinea el nombre a la derecha */
}

.div-card-descripcion{
    margin-top: 10px;

}
.div-titulo {
    text-align: center;
    /* Centra el título */
    margin-top: 50px;
    /* Espacio superior entre el chip y el título */
    ;
}

.div-icon-text {
    margin-top: 40px;
    display: flex;
    align-items: center;
    /* Alinea verticalmente los íconos y el texto */
}

.div-down-text {
    margin-left: 5px;
    /* Espacio a la izquierda del texto */
    font-size: 12px;
}

.div-agenda.blurred {
    filter: blur(5px);
    pointer-events: none;
    /* Evita que se pueda interactuar con el contenido de fondo */
}

// Diary.scss

// Estilos para el modal

.modal-content {
    margin-top: 20vh; // Margen desde la parte superior
    z-index: 1500; // Z-index para asegurar que esté sobre otros elementos
    background-color: white; // Fondo blanco
    border: 1px solid black; // Borde negro sólido
    border-radius: 8px; // Bordes redondeados
    max-width: 400px; // Anchura máxima
    max-height: 500px; // Altura máxima
    width: 80%; // Anchura relativa al contenedor
    height: auto; // Altura automática basada en el contenido
    display: flex;
    align-items: center;
    margin: auto; // Centrar el modal
    font-family: $font-primary;



    // Estilo del título del modal
    .div-nodal-titulo {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 16px; // Añade padding al título para separación del borde
        border-bottom: 1px solid black; // Borde inferior del título
    }

    // Estilo del botón de cerrar
    .close-button {
        font-size: 16px; // Tamaño del icono del botón de cerrar
        width: 32px; // Ancho del botón
        height: 32px; // Altura del botón
        padding: 0; // Eliminar relleno si es necesario
        position: absolute;
        top: 12px; // Distancia desde la parte superior
        right: 12px; // Distancia desde la derecha
        color: gray; // Color del icono
        cursor: pointer;

        &:hover {
            color: black; // Cambia el color al pasar el cursor
        }
    }

    // Estilo del cuerpo del modal
    .div-nodal-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px; // Padding interior del cuerpo del modal
    }

    .div-btn {
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .btn-nodal-one,
    .btn-nodal-interesa {
        width: 100%; 
        padding: 10px 15px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
        border-radius: 4px;
        transition: background-color 0.2s;
        box-sizing: border-box;
        width: 100%; /* Ocupa todo el ancho disponible */

    }

    .btn-nodal-one {
        margin-top: 100px;
        background-color: white;
        color: #4299e1;
        border: 1px solid #4299e1;
    }

    .btn-nodal-interesa{
        background-color: #4299E1;
        color: white;
        border: 1px solid #4299E1;

    }
    .btn-nodal-interesa {
        background-color: #4299E1;
        color: white;
        font-size: 1rem;
        padding: 10px 15px;
        border-radius: 4px;
        width: 138%;
        display: flex; /* Utiliza flexbox para alinear elementos */
        align-items: center; /* Alinea verticalmente los elementos */
        justify-content: center; /* Centra horizontalmente los elementos */
        transition: background-color 0.2s;
    }
    
    .btn-nodal-interesa ._CiHeart {
        margin-left: 5px; /* Espacio a la izquierda del icono */
        display: inline-block; /* Asegura que el icono se muestre en línea */
        vertical-align: middle; /* Alinea verticalmente el icono */
    }
    
    .btn-nodal-interesa:hover {
        background-color: #3182CE;
    }
    

    .btn-nodal-one:hover {
        background-color: #eee;
    }

    .btn-nodal-interesa:hover {
        background-color: #3182CE;
    }

    .div-horarios {
        margin-top: 5px;
        background-color: #f5f5f5;
        border-top: 1px solid #ccc;
        padding: 10px;
        display: flex;
        flex-wrap: wrap; /* Permitirá que los horarios se ajusten automáticamente a la siguiente línea */
        align-items: center; /* Alinea los elementos horizontalmente */
        margin-bottom: 5px;

    
        .chakra-checkbox {
            margin-bottom: 1px;
        }
    

    }


}