@import '../../../../colors.scss';

.divtitleLinkedin {
    width: 342px;
    height: 66px;
    top: 124px;
    left: 25px;
    gap: 0px;
    opacity: 0px;
}

.titleLinkedin {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
}

.containerLinkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 7%;
}

.containerLinkedin2 {
    display: flex;
    margin-left: 5%;
    align-items: center;
    padding-left: 5%;
}

.divsubtitleLinkedin {
    width: 328px;
    height: 40px;
    top: 242px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
}

.divsubtitleLinkedin2 {
    width: 100%;
    height: 17px;
    top: 311px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
}

.subtitleLinkedin {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
}

.subtitleLinkedin2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
}

.divBadgesLinkedin {
    width: Fixed (341px)px;
    height: Hug (272px)px;
    top: 372px;
    left: 19px;
    gap: 8px;
    opacity: 0px;
}

.LinkedinGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(76px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;

    .uniqueLinkedin {
        padding: 10px;
        text-align: center;
        font-family: Montserrat;
        font-size: 10px;
        border-radius: 10px;
    }
}

.Linkedincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBadgesLinkedin {
    margin-top: 20px;
    display: flex;
    width: 83.5%;
}

.LinkedincontainerButton {
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.LinkedinButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    margin-bottom: 5%;
    background-color: $buttons-register;
    color: white;
}

.ContinueButtonLinkedin {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    background-color: white;
    border: 2px solid $buttons-register;
    color: $buttons-register;
}

.LinkedinIcon {
    font-size: 20px;
    margin-right: 5%;
}

.pLinkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    margin-top: 8%;
}

.step {
    width: 40px;
    height: 4px;
    background-color: #ddd;
    margin: 0 10px;
    border-radius: 10px;
}

.step.highlighted {
    height:8px;
    width: 60px;
    /* Grosor de la línea resaltada */
    background-color: $buttons-register;
    /* Color de la línea resaltada */
}

.btn-back {
    display: flex; // Ajusta el margen según sea necesario
    margin-right: 40px;
    margin-left: -50px;
  }