.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
  
    .bienvenidos {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px; // Ajusta este valor según tus necesidades
  
      h3 {
        margin: 0;
        text-align: center;
      }
  
      .logoImagen {
        margin-top: 10px; // Ajusta este valor según tus necesidades
  
        .logo {
          height: 80px; // Ajusta este valor según tus necesidades
          margin-bottom: 10px;
        }
      }
    }
  
    .formLogin {
      width: 100%;
      max-width: 400px;
      margin-top: -50px; // Ajusta este valor según tus necesidades
    }
  }
  